<div class="container">
    <h1>Crear préstamo</h1>
    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" [(ngModel)]="prestamo.id" name="id" disabled>
        </mat-form-field>
   
        <mat-form-field>
            <mat-label>Nombre del cliente</mat-label>
            <mat-select disableRipple [(ngModel)]="prestamo.clients" name="client" required>
                <mat-option *ngFor="let client of clients" [value]="client">{{client.name}}</mat-option>
            </mat-select>
            <mat-error>Debes elegir un cliente</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre del juego</mat-label>
            <mat-select disableRipple [(ngModel)]="prestamo.game" name="game" required>
                <mat-option *ngFor="let game of games" [value]="game">{{game.title}}</mat-option>
            </mat-select>
            <mat-error>Debes elegir un nombre de juego</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha de inicio prestamo</mat-label>
            <input matInput [(ngModel)]="prestamo.datein" [matDatepicker]="picker1" name="datein">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            <mat-error>La fecha no puede estar vacía</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha de fin prestamo</mat-label>
            <input matInput [(ngModel)]="prestamo.dateout" [matDatepicker]="picker2" name="dateout">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            <mat-error>El fecha no puede estar vacío</mat-error>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>